<div id="app">
  <section class="app__container">
    <virtual-list :size="size" :remain="remain">
      <person
        v-for="user in users"
        :key="user.email"
        :name="user.name"
        :email="user.email"
        :title="user.title"
        :city="user.city"
        :address="user.address"
        :avatar="user.avatar">
      </person>
    </virtual-list>
  </section>
</div>
